table{
background-image: url('flowe2.jpg');
    
    border: 2px solid blueviolet;
    border-collapse: collapse;
    th{
        border: 1px solid black ;
        padding: 15px;
        font-size: x-large;
    }
    td{
        border: 1px solid black;
        padding: 15px;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: xx-large;
        color: blue;
        
    }
}
