table{
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 70%;
    background-color: whitesmoke;
    height: 400px;
}
tr, td{
    border: 1px solid grey;
}
.fa-check{
    color: chartreuse;
    font-size: 20px;
}
.fa-xmark{
    color: red;
}
caption:hover{
    background-color: crimson;
    font-size: xx-large;
}
tr:nth-child(odd):hover{
    background-color: blueviolet;
}
th{
    font-size: 30px;
}
.bas{
    color: white;
    background-color: red;
}
.med{
    color: white;
    background-color: blue;
}
.adv{
    color: white;
    background-color: green;
}
input{
    border: 2px solid grey;
    padding: 10px;
}
input:hover{
    color: aqua;
    background-color: white;
}